<ion-view title="Conta">
<ion-content>
    <ion-list>
      <div ng-repeat="group in groups">
        <ion-item class="item-stable"
                  ng-click="toggleGroup(group)"
                  ng-class="{active: isGroupShown(group)}">
            <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          Pedidos
          <span class="badge badge-assertive">{{group.items.length}}</span>
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="item in group.items"
                  ng-show="isGroupShown(group)">
          {{item.idpedido}} {{item.nomeprato}}
          <span class="item-note">
            {{item.status}}
          </span>
        </ion-item>
      </div>
      <div class="item item-divider"></div>
       <div class="item item-avatar">
        <img ng-src='{{perfilData.foto}}'>
        <h2>{{perfilData.nome}}</h2>
        <p>{{perfilData.email}}</p>
      </div>
      <a class="item item-icon-left" ng-show="logado" ng-click='sair()'>
        <i class="icon ion-log-out"></i>
        Sair
      </a>
      <a class="item item-icon-left"  ng-hide="logado" ng-click='entrar()' >
        <i class="icon ion-log-in"></i>
        Entrar
      </a>
    </ion-list>
</ion-content>
</ion-view>