<ion-view view-title="Local de entrega">
    <ion-content class="padding scroll-bg">
    <ion-refresher pulling-text="Puxe para atualizar" on-refresh="doRefresh()">
    </ion-refresher>
    <form  ng-submit="localizacao(localentrega)">
	    <div class="list list-inset">
	    	<p>Verifique se o endereço abaixo está correto, caso contrário informe um endereço de entrega.</p>
		  <label class="item item-input">
		  	<span class="input-label">Cidade</span>
		    <input type="text" ng-model= "localentrega.cidade" placeholder="Cidade">
		  </label>
		  <label class="item item-input">
		  	<span class="input-label">Bairro</span>
		    <input type="text" ng-model= "localentrega.bairro" placeholder="Bairro">
		  </label>
		  <label class="item item-input">
		  	<span class="input-label">Rua</span>
		    <input type="text" ng-model= "localentrega.rua" placeholder="Rua">
		  </label>
		  <label class="item item-input">
		  	<span class="input-label">Número</span>
		    <input type="text" ng-model= "localentrega.numero" placeholder="Número">
		  </label>
		  <label class="item item-input">
		  	<span class="input-label">Complemento</span>
		    <input type="text" ng-model= "localentrega.complemento" placeholder="Complemento">
		  </label>
		</div>
		<input type="submit" class="button button-positive button-block" value="OK">
     </form>
    </ion-content>
</ion-view>
